html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: rgb(0, 64, 112);
  background: linear-gradient(
    0deg,
    rgba(0, 64, 112, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Layout {
  margin: 50px 0px;
}

.alert {
  width: 100%;
  padding: 5px;
  color: white;
}

.red {
  background-color: rgb(179, 1, 1);
}
.green {
  background-color: green;
}

.container {
  margin: auto;
  margin-top: 10px;
  background-color: rgba(8, 8, 8, 0.376);
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  color: white;
  padding: 20px;
}

.Title {
  border-bottom: 1px solid gray;
  font-size: 1.8em;
  font-weight: 600;
  padding: 0px 0px 10px 10px;
  text-align: left;
}

.content {
  padding: 10px;
  text-align: left;
}

.content > input,
.content > select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
input:focus {
  outline: none;
}
